<a href="https://colab.research.google.com/github/Ishan-Grover/Python-Assignments/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Assignment**

Q1. L is a list defined as L=[11,12,13,14].

In [ ]:
L=[11,12,13,14]#Original List
print("Original List= ",L)
L.append(50)#Adding 50
L.append(60)#Adding 60
print("(i).WAP to add 50 and 60 to L.")
print(L)#(i).WAP to add 50 and 60 to L.
del L[0]#Removing 11
del L[1]#Removing 13
print("(ii).WAP to remove 11 and 13 from L.")
print(L)#(ii).WAP to remove 11 and 13 from L.
print("(iii).WAP to sort L in ascending order.")
L.sort()#(iii).WAP to sort L in ascending order.
print(L)
print("(iv).WAP to sort L in descending order.")
L.sort(reverse=True)
print(L)#(iv).WAP to sort L in descending order.
print("(v).WAP to search for 13 in L.")
print("13 in list:",13 in L)#(v).WAP to search for 13 in L.
print("(vi).WAP to count the number of elements present in L.")
print(len(L))#(vi).WAP to count the number of elements present in L.
print("(vii).WAP to sum all the elements in L.")
print(sum(L))
print("(viii).WAP to sum all ODD numbers in L.")
s=0
for i in L:
    if(i%2!=0):
        s=s+i
print(s)
print("(ix).WAP to sum all EVEN numbers in L.")
f=0
for j in L:
  if(j%2==0):
    f=f+j
print(f)
print("(xi).WAP to clear all the elements in L.")
L.clear()#(xi).WAP to clear all the elements in L.
print(L)
print("(Xii).WAP to delete L.")
del L#(Xii).WAP to delete L.

Original List=  [11, 12, 13, 14]
(i).WAP to add 50 and 60 to L.
[11, 12, 13, 14, 50, 60]
(ii).WAP to remove 11 and 13 from L.
[12, 14, 50, 60]
(iii).WAP to sort L in ascending order.
[12, 14, 50, 60]
(iv).WAP to sort L in descending order.
[60, 50, 14, 12]
(v).WAP to search for 13 in L.
13 in list: False
(vi).WAP to count the number of elements present in L.
4
(vii).WAP to sum all the elements in L.
136
(viii).WAP to sum all ODD numbers in L.
0
(ix).WAP to sum all EVEN numbers in L.
136
(xi).WAP to clear all the elements in L.
[]
(Xii).WAP to delete L.

Q2. D is a dictionary defined as D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Dictionary D=",D)
print("(i).WAP to add new entry in D;key=8 and value is 8,8")
D[8]=8.8
print(D)
print("(ii).WAP to remove key=2.")
del D[2]
print(D)
print("(iii).WAP to check whether 6Key is present in D.")
print("6 key is present in D:", 6 in D)
print("(iv).WAP to count the number of elements present in D.")
print(len(D))
print("(v).WAP to add all the values present in D.")
print(sum(D))
print("(vi).WAP to update the value of 3 to 7.1.")
D[3]=7.1
print(D)
print("(vii).WAP to clear the dictionary.")
D.clear()
print(D)

Dictionary D= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
(i).WAP to add new entry in D;key=8 and value is 8,8
{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
(ii).WAP to remove key=2.
{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
(iii).WAP to check whether 6Key is present in D.
6 key is present in D: False
(iv).WAP to count the number of elements present in D.
5
(v).WAP to add all the values present in D.
21
(vi).WAP to update the value of 3 to 7.1.
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
(vii).WAP to clear the dictionary.
{}

Q3.S1 is a set defined as S1=[10,20,30,40,50,60].
S2 is a set defined as S2=[40,50,60,70,80,90,].

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}
print("Set S1=",S1)
print("Set S2=",S2)
print("(i).WAP to add 55 and 66 in Set S1.")
S1.add(55)
S1.add(66)
print(S1)
print("(ii).WAP to remove 10 and 30 from Set S1.")
S1.remove(10)
S1.remove(30)
print(S1)
print("(iii).WAP to check whether 40 is present in S1.")
print("40 is present in S1:",40 in S1)
print("(iv).WAP to find the union of S1 and S2.")
print("Union of S1 and S2:",S1.union(S2))
print("(v).WAP to find the intersection between S1 and S2.")
print("Intersection of S1 and S2:",S1.intersection(S2))
print("(vi).WAP to find the S1-S2.")
print("S1-S2:",S1-S2)

Set S1= {50, 20, 40, 10, 60, 30}
Set S2= {80, 50, 70, 40, 90, 60}
(i).WAP to add 55 and 66 in Set S1.
{50, 66, 20, 55, 40, 10, 60, 30}
(ii).WAP to remove 10 and 30 from Set S1.
{50, 66, 20, 55, 40, 60}
(iii).WAP to check whether 40 is present in S1.
40 is present in S1: True
(iv).WAP to find the union of S1 and S2.
Union of S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
(v).WAP to find the intersection between S1 and S2.
Intersection of S1 and S2: {40, 50, 60}
(vi).WAP to find the S1-S2.
S1-S2: {66, 20, 55}

Q4. Write the following program.

In [ ]:
print("WAP to print 100 random strings whose length between 6 and 8.")
import random as r
import string as s
print(s.ascii_letters+s.ascii_letters)
a=r.sample(s.ascii_letters+s.ascii_letters,100)
b=''.join(r.choice(a) for i in range(0,7))#6 letter
c=''.join(r.choice(a) for i in range(0,8))#7 letter
d=''.join(r.choice(a) for i in range(0,9))#8 letter
print(b)
print(c)
print(d)
print("WAP to print all prime numbers between 600 and 800.")
def prime(no):
    if no < 2:
        return False
    for i in range(2, int(no//2) + 1):
        if no % i == 0:
            return False
    return True

for n in range(600, 801):
    if prime(n):
        a=print(n)
print("WAP to print all prime numbers between 100 and 1000 that are divisible by 7 and 9.")
def check(num):
    if(num%63==0):
        print(num)
        return 1
    else:
        return 0

for n in range(100,1001):
    if(check(n)==1):
        print(n)

WAP to print 100 random strings whose length between 6 and 8.
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
HTCVrrg
myBNecvJ
WRvCKYXzg
WAP to print all prime numbers between 600 and 800.
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
WAP to print all prime numbers between 100 and 1000 that are divisible by 7 and 9.
126
126
189
189
252
252
315
315
378
378
441
441
504
504
567
567
630
630
693
693
756
756
819
819
882
882
945
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30. Find

In [ ]:
import random as r
L1=[]
L2=[]
for i in range(11):
    a=r.randint(10,30)
    L1.append(a)
    b=r.randint(10,30)
    L2.append(b)

print("List 1:",L1)
print("List 2:",L2)
a=set(L1)
print(a)
b=set(L2)
print(b)
print("Common element is : ",a.intersection(b))
print("Unique element is : ",a.intersection(b))
c=a.union(b)
print("Minimum in both lists: ",min(c))
print("Maximum in both lists: ",max(c))
print("Sum of both the lists: ",sum(L1,L2))
s=0
t=0
for x in L1:
    for y in L2:
        s=x+y
        t=t+s
        print(t)

List 1:  [13, 12, 21, 14, 14, 24, 23, 10, 17, 12, 25]
List 2:  [19, 24, 29, 18, 27, 14, 22, 24, 21, 13, 22]
{10, 12, 13, 14, 17, 21, 23, 24, 25}
{13, 14, 18, 19, 21, 22, 24, 27, 29}
common element is :  {24, 21, 13, 14}
unique element is :  {24, 21, 13, 14}
minimum in both lists:  10
maximum in both lists:  29
32
69
111
142
182
209
244
281
315
341
376
407
443
484
514
553
579
613
649
682
707
741
781
826
876
915
963
998
1041
1086
1128
1162
1205
1238
1276
1319
1351
1392
1420
1456
1494
1529
1556
1592
1625
1663
1706
1738
1779
1807
1843
1881
1916
1943
1979
2022
2070
2123
2165
2216
2254
2300
2348
2393
2430
2476
2518
2565
2617
2658
2708
2745
2790
2837
2881
2917
2962
2991
3025
3064
3092
3129
3153
3185
3219
3250
3273
3305
3341
3382
3428
3463
3507
3538
3577
3618
3656
3686
3725
3756
3792
3833
3863
3902
3928
3962
3998
4031
4056
4090
4134
4183
4237
4280
4332
4371
4418
4467
4513
4551
4598

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [ ]:
import random as r
L=[]
L1=[]
L2=[]
L3=[]
for i in range(100):
    a=r.randint(100,900)
    L.append(a)
print(L,"\n")

def odd(num):
    if(num%2!=0):
        return 1
count=0
for i in L:
    if(odd(i)==1):
        L1.append(i)
        count=count+1
print("odd no:",L1)
print("no of odd numbers: ",count)
#even numbers
del count
def even(num):
    if(num%2==0):
        return 1
count=0
for i in L:
    if(even(i)==1):
        L2.append(i)
        count=count+1
print("even no:",L2)
print("no of even numbers: ",count)
#prime numbers
del count
count=0
def prime(n):
    for s in range(2, n//2 + 1):
        if n%s==0:
            return 0
    return 1

for i in L:
    if prime(i) == 1:
        L3.append(i)
        count=count+1
print("prime numbers are :",count)
print("prime no:",L3)

[572, 332, 605, 269, 694, 725, 517, 249, 444, 347, 749, 421, 699, 208, 544, 651, 563, 398, 645, 105, 396, 340, 674, 400, 630, 464, 866, 891, 164, 294, 624, 267, 894, 858, 457, 144, 252, 887, 279, 676, 718, 358, 582, 407, 255, 813, 778, 617, 163, 194, 620, 516, 509, 732, 631, 507, 592, 339, 167, 131, 753, 835, 529, 550, 748, 735, 423, 344, 786, 178, 370, 514, 859, 668, 848, 143, 143, 784, 170, 368, 261, 758, 411, 118, 496, 413, 686, 528, 376, 615, 314, 709, 401, 716, 575, 271, 849, 488, 281, 198]

odd no: [605, 269, 725, 517, 249, 347, 749, 421, 699, 651, 563, 645, 105, 891, 267, 457, 887, 279, 407, 255, 813, 617, 163, 509, 631, 507, 339, 167, 131, 753, 835, 529, 735, 423, 859, 143, 143, 261, 411, 413, 615, 709, 401, 575, 271, 849, 281]
no of odd numbers:  47
even no: [572, 332, 694, 444, 208, 544, 398, 396, 340, 674, 400, 630, 464, 866, 164, 294, 624, 894, 858, 144, 252, 676, 718, 358, 582, 778, 194, 620, 516, 732, 592, 550, 748, 344, 786, 178, 370, 514, 668, 848, 784, 170, 368, 758, 118, 496, 686, 528, 376, 314, 716, 488, 198]
no of even numbers:  53
prime numbers are : 17
prime no: [269, 347, 421, 563, 457, 887, 617, 163, 509, 631, 167, 131, 859, 709, 401, 271, 281]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}.

In [ ]:
# D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
print("keys:",D.keys())
print("values:",D.values())
a=list(D.keys())
print(a)
b=list(D.values())
print(b)
fp=open("file.txt",'w')#imp
for i in a:
    for j in b:
        fp.write(str(i)+"\n")
        fp.write(str(j)+"\n")
fp.close()

keys: dict_keys([1, 2, 3, 4, 5])
values: dict_values(['One', 'Two', 'Three', 'Four', 'Five'])
[1, 2, 3, 4, 5]
['One', 'Two', 'Three', 'Four', 'Five']

Q8. L is a list defined a L={"One","Two","Three","Four","Five"}. WAP to count the legth of each element from a list and write to the file in the below format:

In [ ]:
#L is a list defined as L={"One","Two","Three","Four","Five"}
L=["One","Two","Three","Four","Five"]
L1=[]
import string as s
print("length of element 1 in string :" ,len(L[0]))
print("length of element 2 in string :" ,len(L[1]))
print("length of element 3 in string :" ,len(L[2]))
print("length of element 4 in string :" ,len(L[3]))
print("length of element 5 in string :" ,len(L[4]))
L1.append(len(L[0]))
L1.append(len(L[1]))
L1.append(len(L[2]))
L1.append(len(L[3]))
L1.append(len(L[4]))
D={}
D["One"]=3
D["Two"]=3
D["Four"]=4
print(D)
fp=open("one.text",'w')
for i in D:
    fp.write(str(i)+"\n")
fp.close()

length of element 1 in string : 3
length of element 2 in string : 3
length of element 3 in string : 5
length of element 4 in string : 4
length of element 5 in string : 4
{'One': 3, 'Two': 3, 'Four': 4}

Q9. WAP to the file 100 random strings whose length between 10 and 15.

In [ ]:
#Write to the file 100 random strings whose length between 10 and 15#
import random as r
import string as s

def random(length):
    letters = s.ascii_letters
    return ''.join(r.choice(letters) for _ in range(length))


with open("random_strings.txt", "w") as file:

    for _ in range(100):
        length = r.randint(10, 15)
        random_string = random(length)
        # Write the random string to the file
        file.write(random_string + '\n')

Q10. Write to the file all prime numbers  between 600 and 800.

In [ ]:
#Write to the file all prime numbers between 600 and 800
L=[]
def prime(num):
    for i in range(2, num//2 + 1):
        if  num % i == 0:
            return 1
            print ("Not Prime")
            break


for n in range(600,801):
    if(prime(n)==1):
        L.append(n)
print(L)
fp=open("file.txt",'w')
for i in L:
    fp.write(str(i)+'\n')
fp.close()

[600, 602, 603, 604, 605, 606, 608, 609, 610, 611, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 649, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 702, 703, 704, 705, 706, 707, 708, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 731, 732, 734, 735, 736, 737, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 767, 768, 770, 771, 772, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 793, 794, 795, 796, 798, 799, 800]

Q11. WAP to calculate the time taken by a program.

In [ ]:
#WAP to calculate the time taken by a program
import time
starting_time=time.time()
print("hello world")
ending_time=time.time()
remain_time=ending_time-starting_time
print("The time taken=",remain_time)

hello world
The time taken= 0.00013756752014160156

Q12. WAP to sort following number of students in a list, calculate time taken and plot a graph.

In [ ]:
#WAP to sort following number of elements in a list, calculate time taken and plot the graph
L1=[]
L2=[]
L3=[]
L4=[]
L5=[]
len(L1)==5000
len(L2)==10000
len(L3)==15000
len(L4)==20000
len(L5)==25000
import time
starting_time=time.time()
print("hello world")
ending_time=time.time()
remain_time=ending_time-starting_time
print("The time taken=",remain_time)

hello world
The time taken= 0.0005288124084472656

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks.

In [ ]:
#WAP to create a dictionary of student marks in five subjects and you have to find the student
 #having maximum and minimum average marks
 #doubt question
def find_max_min_average(student_marks):
    max_average = float('-inf')
    min_average = float('inf')
    max_student = ''
    min_student = ''

    for student, marks in student_marks.items():
        average = sum(marks) / len(marks)
        if average > max_average:
            max_average = average
            max_student = student
        if average < min_average:
            min_average = average
            min_student = student

    return max_student, min_student

# Create a dictionary of student marks
student_marks = {
    'Johnnathan': [80, 85, 90, 95, 92],
    'Lily': [75, 82, 88, 91, 79],
    'Sam': [90, 92, 86, 89, 94],
    'Asda': [87, 84, 91, 88, 90]
}

# Find the student with the maximum and minimum average marks
max_student, min_student = find_max_min_average(student_marks)

# Print the results
print("Student with the maximum average marks:", max_student)
print("Student with the minimum average marks:", min_student)

Student with the maximum average marks: Sam
Student with the minimum average marks: Lily